@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /* Main color scheme using HSL format: hue saturation lightness */
    /* Primary color: Amber/Orange-based with varied brightness levels */
    --background: 27 100% 97%;
    --foreground: 27 5% 10%;
    --card: 27 50% 97%;
    --card-foreground: 27 5% 15%;
    --popover: 27 100% 97%;
    --popover-foreground: 27 100% 10%;
    --primary: 27 58.4% 34.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -11 30% 95%;
    --muted-foreground: 27 5% 40%;
    --accent: -11 30% 90%;
    --accent-foreground: 27 5% 15%;
    --success: 142 71% 45%; /* a warm green, similar to tailwind's emerald-500 */
    --success-foreground: 0 0% 100%; /* white for contrast */
    --destructive: 0 100% 40%;
    --destructive-foreground: 0 80% 50%;

    --border: 27 30% 82%;
    --input: 27 30% 50%;
    --ring: 27 58.4% 34.9%;
    --radius: 0.5rem;
}

.dark {
    --background: 27 50% 10%;
    --foreground: 27 5% 97%;
    --card: 27 50% 10%;
    --card-foreground: 27 5% 97%;
    --popover: 27 50% 5%;
    --popover-foreground: 27 5% 97%;
    --primary: 27 58.4% 34.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -11 30% 25%;
    --muted-foreground: 27 5% 65%;
    --accent: -11 30% 25%;
    --accent-foreground: 27 5% 95%;
    --success: 142 71% 35%;
    --success-foreground: 0 0% 100%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 0 80% 50%;
    --border: 27 30% 50%;
    --input: 27 30% 50%;
    --ring: 27 58.4% 34.9%;
    --radius: 0.5rem;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
  :root {
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}



@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
